---
import { GITHUB_URL } from "../config";
---
<footer class='border-t border-line py-6 px-8'>
    <div class='max-w-275 mx-auto flex justify-between items-center text-sm text-fg-3'>
        <span>DappFence by <a href='https://coinspect.com' target='_blank' rel='noopener' class='hover:text-fg transition-colors'>Coinspect</a></span>
        <a href={GITHUB_URL} target='_blank' rel='noopener' class='hover:text-fg transition-colors'>GitHub</a>
    </div>
</footer>
